* {
    margin: 0px;
    padding: 0px;
    background-color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, sans-serif;
    user-select: none;
  }

body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 8% 84% 8%;
}

header {
    height: 8vh;
    background-color: gold;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.moneytext {
    background-color: gold;
    height: 100%;
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
}

footer {
    height: 8vh;
    background-color: gold;
}

main {
    margin: 0px;
    width: 100vw;
    height: 84vh;
    display: grid;
    grid-template-columns: 8% 72% 20%;
    grid-template-rows: 8% 84% 8%;
    align-items: center;
    justify-items: center;
}

.sidebar {
    width: 100%;
    height: 100%;
    font-size: 2vh;
    grid-column: 3 / 4;
    grid-row: 1 / 4;
    background-color: rgb(240, 240, 240);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.sidebar div {
    width: 85%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 14px;
    background-color: rgb(207, 207, 207);
}

.farm {
    
}

.field {
    width: 100vh;
    height: 75vh;
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    background-color: white;
}

.field div {
    margin: 1px;
    background-color: silver;
    color: black;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item {
    width: 65%;
    height: 65%;
    font-size: 3vh;
    background-color: rgb(145, 145, 145);
    border-radius: 8px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    align-items: center;
    justify-items: center;
}

.icon {
    font-size: 140%;
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    background-color: transparent;

}

@keyframes dollarFade1 {
    0% {
        color: transparent;
        margin-bottom: 0%;
        background-color: transparent;
    }
    1% {
        color: gold;
        margin-bottom: 90%;
        background-color: transparent;
        text-shadow: 1px 1px 1px rgb(117, 89, 19);
    }
    100% {
        color: transparent;
        margin-bottom: 185%;
        background-color: transparent;
        text-shadow: none;
    }
  }
  @keyframes dollarFade2 {
    0% {
        color: transparent;
        margin-bottom: 0%;
        background-color: transparent;
    }
    1% {
        color: gold;
        margin-bottom: 90%;
        background-color: transparent;
        text-shadow: 1px 1px 1px rgb(117, 89, 19);
    }
    100% {
        color: transparent;
        margin-bottom: 185%;
        background-color: transparent;
        text-shadow: none;
    }
  }

.dollar {
    visibility: hidden;
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    width: min-content;
    height: min-content;
}

.dollarFading1 {
    visibility: visible;
    color: transparent;
    background-color: transparent;
    animation-name: dollarFade1;
    animation-duration: 550ms;
}
.dollarFading2 {
    visibility: visible;
    color: transparent;
    background-color: transparent;
    animation-name: dollarFade2;
    animation-duration: 550ms;
}